html, body, #map-canvas {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
}

body {
	padding-top: 0px !important; 
}

#showLoginButton {
    margin-right: 24px;
	z-index: 100;
}

#login {
    display: none;
    position: relative;
    top: 60px;
    z-index: 10;
    position: fixed;
}

#pedidoMenu {
    position: absolute;
    top: 85px;
    left: 20px;
    height: 479px;
    width: 360px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.18),0 5px 16px rgba(0,0,0,0.36);
    padding: 20px;
    margin-left: 20px;
    background-color: #f7f7f9;
    z-index: 1;
    
}

#directions_panel {
	margin: 20px; 
	background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.18),0 5px 16px rgba(0,0,0,0.36);
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }